@charset "UTF-8";

body{
  background-color: rgb(205, 255, 204);
font-family: Arial, Helvetica, sans-serif;
}
h1{
/* text-align: center; */
color: rgb(4, 109, 0);
}

h1#principal{
  text-align: center;
  background-color: rgb(4, 109, 0);
  color: white;
}


h2{
color: rgb( 51, 77, 49 );
}

