
@font-face {
  font-family:'idroid';
  src: url('fontes/idroid.otf ') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
  background-color: bisque;
  font-family: 'Bebas Neue', Arial, Helvetica, sans-serif; 
  margin: 0px;   
}

    

h1 {
  font-family: 'Yuji Boku', sans-serif;
}

    
  /*===== HEADER ===== */

  header {
  text-align: center;
  background-image:linear-gradient(to top,#1b5c3c,rgb(6, 140, 6));
  box-shadow: 5px 5px 5px rgb(150, 150, 150);
}
  
  header>nav{
  text-align: justify;
  padding:10px;
  padding-left: 15px;

}  



nav>a{
  color: rgb(0, 255, 17);
  font-size:17px;
  font-weight:550;
  padding: 10px;
  text-decoration: none;
  
}



h1{
  color: white;
  margin: 0px;
  padding-top:20px;
} 




header>h2{
  color: rgba(255, 255, 255, 0.853);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 30px;
}



nav>a:hover{
  background:rgb(48, 174, 53);
  border-radius: 10px;
  transition: 1s linear;
  color:rgb(1, 90, 1);
}


/*===== HEADER ===== */




    
    
    
main{
  background: white;
  margin: 0 auto;
  max-width: 700px;
  min-width: 400px;
  box-shadow: 5px 5px 5px rgb(150, 150, 150);
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 10px;
}
    



.principal{
  font-size:30px; 
  padding: 30px 20px 0px 20px;
      
}
    




aside{ 
  padding: 20px;
}
    





h2{
  font-family: 'idroid', sans-serif;
  color: rgb(12, 102, 12);
  margin-top: 0px;
  padding-left: 0px;
}
    
    


p{
  text-indent: 20px;
  font-weight: normal;

}





.subtitulo{
 margin-left: 0px;
 background-image:linear-gradient(to left,rgb(251, 251, 251),rgb(125, 250, 163));
 font-size: 20px;
 padding-left: 10px;
}




span{
  color: rgb(4, 82, 4);
  font-weight: bold;
}





.links{
  text-decoration: none;
  font-weight: bolder;
  color: rgb(2, 70, 2);
  border-radius: 5px;
  padding:0px 5px;
}







.links:hover{
  text-decoration: underline;
}







svg{
  height: 15px;
  width:14px;
  transform: rotate(130deg);
}



  





img{
  display: block;
  margin: 0 auto;
  max-width: 100%;
}







 
/* video */

iframe{
  display: block;
  margin: 0 auto;
  position: relative;
  width: 100%;
}


article{
  background: rgb(47, 94, 47);
  padding:20px 40px;
}

/* video */







div>h3{
  font-size :16px;
  background-color: rgb(37, 105, 37);
  color: white;
  padding: 8px;
 }

 h3{
  margin-top: 0px;
 }




.final{
  display: block;
  margin:20px;
  border: 2px solid rgb(81, 107, 81);
  border-radius:5px;
  box-shadow: 5px 5px 5px  rgb(150, 150, 150);
  background-color: rgb(200, 230, 200);
}



div>p{
  padding: 10px;  
  margin: 0px;
}



.lista{
  display: flex;
  gap:100px;
}


.sla{
  padding: 0px 20px 30px 20px;
} 





.baixo{
  color:rgb(255, 255, 255)
}

footer{
    background-color: rgb(47, 94, 47);
    color: rgb(155, 194, 155);
    text-align: center;
    padding: 5px;
  }