@charset "UTF-8"

*{
  font-family: Arial, Helvetica, sans-serif;
  /* height:100%; */
}

body{
  background-image: linear-gradient(to right, #ead4c7, #BF9D8A, #c7a592);
}

main{
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 5px rgb(163, 134, 117); 
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1{
color: #BF532C;
text-align: center;
text-shadow: 1px 1px 2px #BF793B;
}

h2{
color: #BF793B;

}



p{
text-align: justify;
}

